.container {
    box-sizing: border-box;
    min-width: 272px;
    margin: 0 auto;
    padding: 0 24px;

    @media (min-width: @tablet) {
        min-width: 612px;
        padding: 0 24px;
    }

    @media (min-width: @desktop) {
        width: 940px;
        padding: 0 10px;
    }
}
