.questions {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 70px;

    &__title {
        .font__oks('Oks', 42px, 42px, 400);

        @media (min-width: @tablet) {
            &-transfer {
                display: none;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        &:not(:last-child):after {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            background-color: @_c__grey-dark;
            bottom: -24px;
        }
    }

    &__details {
        .font(13px, 20px, 400);
    }

    &__summary {
        position: relative;
        .font(18px, 21px, 600);
        list-style: none;
        padding-right: 44px;
        cursor: pointer;
    }

    &__answer {
        padding: 8px 44px 0 0;
    }

    &__button {
        position: absolute;
        top: ~'calc(50% - 9px)';
        right: 0;
        z-index: -1;
        transition-duration: 0.5s;

        &-image {
            vertical-align: middle;
        }

        &-image--rotate {
            transform: rotateX(180deg);
        }
    }
}

@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
