.start {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @media @tablet {
        display: grid;
        grid-template-areas:
            "info-wrapper image"
            "button button";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content;
        grid-column-gap: 16px;
        grid-row-gap: 24px;
    }

    @media @desktop {
        display: grid;
        grid-template-areas:
            "info-wrapper image"
            "button image";
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        grid-template-rows: initial;
        grid-row-gap: initial;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        grid-area: info-wrapper;
    }

    &__image {
        margin-top: 32px;
        width: 100%;
        grid-area: image;

        @media @tablet {
            margin: auto 0;
        }

        @media @desktop {
            margin-top: 0;
        }
    }

    &__date {
        .font(10px, 12px, 600);
        align-self: flex-start;
        padding: 6px 20px;
        background-color: @_c__orange;
        border-radius: 12px;
    }

    &__title {
        .font__oks('Oks', 86px, 86px, 400);

        @media @desktop {
            font-size: 106px;
            line-height: 106px;
        }
    }

    &__subtitle {
        .font(18px, 21px, 600);
    }

    &__description {
        .font(13px, 20px, 400);

        @media @desktop {
            font-size: 15px;
            line-height: 24px;
        }
    }

    &__entry-link {
        .font(15px, 24px, 400);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        height: 48px;
        background-color: @_c__grey;
        border-radius: 14px;
        transition: background-color 0.3s;
        cursor: pointer;
        grid-area: button;

        &:hover,
        &:active {
            background-color: @_c__blue-light;
            transition: background-color 0.3s;
        }

        @media @tablet {
            margin-top: initial;
        }

        @media @desktop {
            margin-top: auto;
        }
    }
}
