.start {
    display: grid;
    grid-template-rows: min-content 1fr;

    @media (min-width: @tablet) {
        grid-template-areas:
            "info-wrapper image"
            "button button";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content;
        grid-column-gap: 16px;
        grid-row-gap: 24px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        @media (min-width: @tablet) {
            grid-area: info-wrapper;
        }
    }

    &__image {
        margin-top: 32px;
        width: 100%;

        @media (min-width: @tablet) {
            grid-area: image;
            margin: auto 0;
        }
    }

    &__date {
        .font(10px, 12px, 600);
        align-self: flex-start;
        padding: 6px 20px;
        background-color: @_c__orange;
        border-radius: 12px;
    }

    &__title {
        .font__oks('Oks', 86px, 86px, 400);
    }

    &__subtitle {
        .font(18px, 21px, 600);
    }

    &__description {
        .font(13px, 20px, 400);
    }

    &__entry-link {
        .font(15px, 24px, 400);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        height: 48px;
        background-color: @_c__grey;
        border-radius: 14px;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover,
        &:active {
            background-color: @_c__blue-light;
            transition: background-color 0.3s;
        }

        @media (min-width: @tablet) {
            grid-area: button;
            margin-top: initial;
        }
    }
}
